#cloud-config
hostname: ${hostname}
fqdn: ${host_fqdn}
users:
  - name: ${cloud_user}
    groups: sudo
    shell: /bin/bash
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    lock_passwd: false
    ssh-authorized-keys:
      - ${ssh_pub_key_content}
runcmd:
  - /usr/bin/growpart /dev/vda 2
  - pvresize /dev/vda2
