vms = {
  example1 = {
    storage      = "20"
    memory       = "2048"
    cpu          = "1"
    rhel_version = "9"
    group        = "ansible_group1"
  }
  exmaple2 = {
    storage      = "20"
    memory       = "2048"
    cpu          = "1"
    rhel_version = "8"
    group        = "ansible_group2"
  }
}
