cdrom
lang en_US.UTF-8
keyboard us
network  --bootproto=dhcp
firewall --disabled
selinux --permissive
timezone UTC
bootloader --location=mbr
text
repo --name="AppStream" --baseurl=file:///run/install/sources/mount-0000-cdrom/AppStream
skipx
zerombr
clearpart --all --initlabel
autopart
authselect --enableshadow --passalgo=sha512 --kickstart
firstboot --disabled
eula --agreed
services --enabled=NetworkManager,sshd,qemu-guest-agent
user --name=cloud-user --plaintext --password=cloud-user --groups=wheel
reboot

%packages --ignoremissing --excludedocs
@Core
cloud-init
cloud-utils-growpart
openssh-clients
qemu-guest-agent
sudo

# unnecessary firmware
-iwl100-firmware
-iwl105-firmware
-iwl135-firmware
-iwl1000-firmware
-iwl2000-firmware
-iwl2030-firmware
-iwl3160-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6050-firmware
-iwl7260-firmware
-libertas-usb8388-firmware

#rhel10
%end

%post
dnf update -y

# sudo
echo "cloud-user        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers.d/90-cloud-init-users
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers

mount /dev/sr1 /mnt
cp -rf /mnt/cloud.cfg /etc/cloud/cloud.cfg

dnf clean all
%end
